#Technology {
	background-color: #2FBF71;
	background-color: transparent;
	position: relative;
	max-height: 500px;
	z-index: -100;
	overflow:hidden;
}

#Technology video {
	width: 100%;
	object-fit:cover;
	box-sizing:inherit;
	z-index: -100;
	overflow: hidden;
}

#Technology div {
	display: flex;
	flex-direction:column;
	position: absolute;
	top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  align-items:center;

}
#Technology h1 {
	font-size:40px;
	color: white;
}
#Technology button {
	width: 260px;
	height: 67px;
	border:solid 1px white;
	color:white;
	font-size: 20px;
	background-color: transparent;
	border-radius: 5px;
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-around;
	transition: all .2s ease-in-out;
}
#Technology button:hover {
	background-color: #3C6997;
	border-color: #3C6997;
}
#Technology button h2 {
	margin:0px;
}
#Technology button img {
	width: 25px;
}