#NavBar {
	position: fixed;
	background-color:white;
	display: inline-flex;
	width:100%;
	height:100px;
	-webkit-box-shadow: 2px 4px 5px -3px #e2e2e2;
    -moz-box-shadow: 2px 4px 5px -3px #e2e2e2;
    box-shadow: 2px 4px 5px -3px #e2e2e2;
    z-index:100;
    box-sizing:border-box;
    padding:20px;
    opacity:0.75;
}

#NavBarTitle, #MobileNavBarTitle {
	display: flex;
	justify-content:center;
	align-items:center;
	height: 100%;
}

#NavBarTitle,#MobileNavBarTitle {
	line-height: 50px;
	margin: 0px;
	color: #63B5D0;
	font-family: 'Raleway';
}

#NavBarTitle {
	font-size: 36px;
	cursor: pointer;
}
#NavBarNavigation {
	display:inherit;
	margin-left:30px;
	display: flex;
	justify-content:center;
	align-items:center;
}

#NavBarNavigation h2 {
	margin:0px 10px 0px 10px;
	line-height: 55px;
	font-size:17px;
	color: #BEBEBE;
	cursor: pointer;
}
#NavBarNavigation h2:hover {
	color:#616161;
}

#CountryImage {
	width:20px;
	height:20px;
	position: absolute;
	top:43px;
	right:300px;
	border: solid 1px #BEBEBE;
	border-radius:50%;
	cursor:pointer;
}

#NavBarPhone {
	position: absolute;
	right:130px;
	color: #BEBEBE;
	top:36px;
	height:30px;
	padding-top:5px;
	border-right:solid 1px;
	left: initial;
}
#NavBarPhone h1 {
	font-size:17px;
	margin:0px;
	padding-right:20px;
	cursor:pointer;
}

#NavBarPhone h1:hover {
	color:#616161;
}

#NavLogInButton {
	font-size:17px;
	position: absolute;
	right:135px;
	margin:0px;
	top:23px;
	color: #BEBEBE;
	cursor:pointer;
}
#NavLogInButton:hover {
	color:#616161;
}

#NavShoppingCart {
	position: absolute;
	right:80px;
	cursor: pointer;
	top: 38px;
	
}
#NavShoppingCart img {
	width:25px;
	cursor: pointer;
}



/*Mobile*/
#MobileNavNavigation {
	display: flex;
	width: 100%;
	height: 100%;
}
#MobileNavSlideOut h1 {
	font-size:24px;
}

#MobileNavMenuButton {
	width:30px;
	height: 30px;
	position: absolute;
	left:30px;
	top:23px;
	cursor: pointer;
}

#MobileNavBarTitle {
	position: absolute;
	left:50%;
	top:50%;
	transform:translateX(-50%) translateY(-50%);
	margin:0px;
	font-size: 34px;
}

#MobileNavShoppingCart {
	position: absolute;
	right: 30px;
	width: 30px;
	height: 30px;
	top:23px;
	cursor: pointer;
}

#MobileNavSlideOut {
	position: fixed;
	width:200px;
	height: 100%;
	top:0px;
	left:-200px;
	background-color: white;
	z-index: 20;
	padding-left: 10px;
	box-sizing:border-box;
}
#MobileNavSlideOut h1 {
	cursor: pointer;
	-webkit-font-smoothing: subpixel-antialiased;
}

#MobileNavSlideOut img {
	width: 20px;
	height: 20px;
	position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}





@media only screen and (max-width: 790px) {
  #NavBar {
    height:76px;
  }
}
