#ReviewSection {
	background-color: #D67C65;
	height: 600px;
	padding-top:40px;
}
#ReviewTitle {
	margin:0px;
	color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	line-height: 1.1;
}
.ReviewHolder {
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	height: 415px;
	margin-top:50px;
}

.Review {
	flex-basis: 33%;
	position: relative;
	text-align:center;
	color: white;
	outline: none;
	padding:0px 20px 0px 20px;
	box-sizing:border-box;
}

.ReviewImage {
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:100%;
    background-position: center;
}
.Review img {
	width: 100%;
}

.Review h1 {
	font-size: 24px;
}

.Review p1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.0
}

#ViewReviews {
	width: 200px;
	height: 50px;
	margin: 0 auto;
	border: solid 1px white;
	font-size:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
	font-weight: 300;
	transition: all .2s ease-in-out;
	 animation: 2000ms pulse 500ms ease-in-out infinite;
    -webkit-animation: 2000ms pulse 500ms ease-in-out infinite;
}

#ViewReviews:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 840px) {
	#ReviewSection {
		height: 1250px;
	}
	.ReviewHolder {
		flex-direction:column;
		height: 1020px;
	}
	#ReviewTitle {
		line-height: 1.1;
	}
}

@media only screen and (max-width: 450px) {
	#ReviewSection {
		height: 1450px;
	}
	.Review {
		padding:20px;
	}
	.ReviewHolder {
		height: 1220px;
	}
}
